.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
}

.app-container {
  padding: 25px;
}

img {
  margin-left: auto;
  margin-right: auto;
}
