/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.roomlist-container{
  width:60%;
  margin: 0 auto;

}

#login, #register {
  width: 60%;
  margin: 0 auto;
}
<<<<<<< HEAD
 */



  /* display:inline-block; */

/*
#room {
  display:flex;
}
.ui.page.modals.transition.visible {
    display: flex !important;
}

#message-form {
  bottom: 0;
  width:100%;
  border: 1px solid black;
  display:block;
}

#message-box{
  height:400px;
  display:block;
}

#message-container {
  border: 1px solid red;
  width: 100%;
  bottom:0;
display:block;
}
#top {
   display:block;
} */

#canvas {
  border: 1px solid black;

}
